```
INTRO TO
    ______  __________  ______  _   __
   / __ \ \/ /_  __/ / / / __ \/ | / /
  / /_/ /\  / / / / /_/ / / / /  |/ / 
 / ____/ / / / / / __  / /_/ / /|  /  
/_/     /_/ /_/ /_/ /_/\____/_/ |_/   
```

## 3.1 Data Types

Every variable has a **type**. The type of a variable tells you what kind of value it's storing.

We've seen a few types so far:

**Integers**: Whole numbers

In [2]:
int1 = 1
int2 = 0
int3 = -13
int4 = 9876543210123456789

**Strings**: Text in quotes. What's the difference between `123` and `'123'`!

In [3]:
str1 = "Billiam Wender"
str2 = "123"
str4 = ""  # empty string
str5 = 'abc' # single quotes and double quotes both work

**Booleans**: `True` or `False`

In [4]:
bool1 = True
bool2 = False

In [5]:
# Recall that integers are whole numbers. What about decimals?
# Decimals are called FLOATS in Python

# Examples of floats:
float1 = 1.414
float2 = -1729.42
float3 = 7.
float4 = 6.02E23 # scientific notation

In [6]:
# To check the data type of a value, use the type() method
print(type(123))
print(type(3.14))
print(type("123"))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
# You CANNOT mix certain data types for some operations: 

# For example, you can't add an integer and a string:
print(42 + "hello")
print(2 + "2")

# You will get a TypeError

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [0]:
# There are exceptions for mixing data types

# For example: 

# Mix integers and floats
print(2 + 3.14)
print(2.0 * 3)
# The Output is always a float

# Multiply integers and strings
print(3 * "ha")

In [0]:
# Converting one data type to another data type is called CASTING

# For example:

# To cast a value to an integer, use int()
print(int("11")) # string to integer
print(int(-2.2)) # float to integer

# To cast a value to a string, use str( )
print(str(3 + 0.3))

# To cast a value to a boolean, use bool( )
print(bool(0.0), bool(""), bool([])) # 0, the empty string, and empty arrays evaluate to False
print(bool(4444), bool("aaa")) # everything else evaluates to True

# To cast a to a floats, use float( )
print(float(-55))
print(float("6.6"))

In [0]:
# Casting example usage

# Lets say you have two strings, but you want to add their integer values
str1 = "1"
str2 = "2"
print(str1 + str2) # outputs: "12"

# First, cast the strings to integers
int1 = int(str1)
int2 = int(str2)
print(int1 + int2) # outputs: 3

Activity 1: Super Conversions!
---
Billiam gave you the digits of two four digit numbers. 
1. First, mash together (concatenate) all the digits to form the two numbers num1 and num2. 
2. Then print the sum num1 + num2. Help him!

Hint: Remember what type we can mash together and what type we can do actual addition.

Expected Output 1: `"1729" "9876"`

Expected Output 2: `11605`

In [0]:
# Digits of num1
num1_d1 = 1
num1_d2 = 7
num1_d3 = 2
num1_d4 = 9

# Digits of num2
num2_d1 = 9
num2_d2 = 8
num2_d3 = 7
num2_d4 = 6

# Activity 1 Code Here

Activity 2: Float Multiplication
---
Ask the user for two floats (decimals) one at a time, and then print out the product of the floats. Make sure you know what the type of each of your variables!

In [0]:
# Activity 2 Code Here

Activity 3: I Love Types!
---
Billiam created the four variables below. Now he wants to concatenate them all together and print the whole thing out. Please help him!

Expected Output: `"4Billiam WenderTrue3.14"`

In [0]:
var1 = 2 + 2
var2 = "Billiam Wender"
var3 = True
var4 = 3.14

# Activity 3 Code Here

In [0]:
# Move this to advanced python
# Some bonus data types (https://www.w3schools.com/python/python_datatypes.asp):
complex1 = 1j
list1 = ["apple", "banana", "cherry"]
tuple1 = ("apple", "banana", "cherry")
set1 = {"apple", "banana", "cherry"}
range1 = range(6)
dict1 = {"name" : "John", "age" : 36}
bytes1 = b"Hello"
bytearray1 = bytearray(5)


print(type(complex1))
print(type(list1))
print(type(set1))
print(type(range1))
print(type(dict1))
print(type(bytes1))
print(type(bytearray1))

print(type(type(123)))
print(type(print))
print(type(None))

Review
------
* every value has a data type
* use type() to get the data type of a value
* certain data types cannot be mixed
* use **casting** to convert between data types